$mainFamily:'helveticaneuecyr';
$mainFamilyMedium:'helveticaneuecyr-medium';
$mainFamilyBold:'HelveticaneuecyrBold';
$aboutFamily:Verdana, Geneva, sans-serif;

$CaptionSize:14px;
$CaptionLH:18px;
$CaptionWeight:400;
$CaptionLS:0.05em;

@mixin aboutCaption {
  font-family: $aboutFamily;
  font-size: $CaptionSize;
  line-height: $CaptionLH;
  font-weight: $CaptionWeight;
  letter-spacing: $CaptionLS;
}

@mixin aboutItalic {
  font-family: $aboutFamily;
  font-size: $CaptionSize;
  line-height: $CaptionLH;
  font-weight: $CaptionWeight;
  letter-spacing: $CaptionLS;
  font-style: italic;
}

$aboutTitleSize:16px;
$aboutTitleLH:24px;
$aboutTitleWeight:800;
$aboutTitleLS:0.05em;

@mixin aboutTitle {
  font-family: $mainFamilyBold;
  font-size: $aboutTitleSize;
  line-height: $aboutTitleLH;
  font-weight: $aboutTitleWeight;
  letter-spacing: $aboutTitleLS;
}

$authTitleSize:20px;
$authTitleLH:24px;
$authTitleWeight:800;

@mixin authTitle {
  font-family: $mainFamilyBold;
  font-size: $authTitleSize;
  line-height: $authTitleLH;
  font-weight: $authTitleWeight;
}

$authTitleSqSize:15px;
$authTitleSqLH:20px;
$authTitleSqWeight:400;
$authTitleSqLS:0.05em;

@mixin authTitleSq {
  font-family: $mainFamily;
  font-size: $authTitleSqSize;
  line-height: $authTitleSqLH;
  font-weight: $authTitleSqWeight;
  letter-spacing: $authTitleSqLS;
}

@mixin authInput {
  font-family: $mainFamilyBold;
  font-size: $authTitleSqSize;
  line-height: $authTitleSqLH;
  font-weight: $authTitleSqWeight;
  letter-spacing: $authTitleSqLS;
}

@mixin authLabel {
  font-family: $mainFamily;
  font-size: $authTitleSqSize;
  line-height: $authTitleSqLH;
  font-weight: $authTitleWeight;
  letter-spacing: $authTitleSqLS;
}