@import "component/page";

html,
body {
  height:100%;
}
.wrap {
  display:flex;
  height:100%;
}
.modal {
  margin:auto;
  flex-basis:$widthBlock*2;
  display: flex;
  z-index: 2;
  box-shadow: $shadowModal;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {                
      opacity: 0;
      transform: translate3d(0px, -100%, 0px);
  }
  100% {       
      opacity: 1;
      transform: none;
  }
}

